
.idea/
Pflichtenheft/.idea/

*.lof
auxil/Plichtenheft.log
out/Plichtenheft.pdf
out/Plichtenheft.synctex.gz
Dokumente/Pflichtenheft/.idea/
Dokumente/Pflichtenheft/.idea/
Dokumente/Pflichtenheft/.idea/

*.class
target
*.bak

# eclipse #
*.prefs
.classpath
.project
.metadata

# Package Files #
*.jar
*.war
*.ear
*.sha1
*.sha1
*.repositories

Codebase/Roomix/.idea/
*.iml
Codebase/Roomix/.idea/workspace.xml
*.iml
*.iml
*.iml
*.iml
*.iml
*.iml
Codebase/Roomix/controller/invoice-controller/invoice-controller.iml
Codebase/Roomix/.idea/workspace.xml
Codebase/Roomix/controller/reservation-controller/reservation-controller.iml
Codebase/Roomix/.idea/workspace.xml
Codebase/Roomix/.idea/workspace.xml
Codebase/Roomix/.idea/workspace.xml
*.iml
*.iml
Codebase/Roomix/.idea/workspace.xml
Codebase/Roomix/.idea/workspace.xml
Codebase/Roomix/.idea/workspace.xml
Codebase/Roomix/.idea/workspace.xml
Codebase/Roomix/.idea/workspace.xml
Codebase/Roomix/.idea/workspace.xml
*.iml
Codebase/Roomix/.idea/workspace.xml
Codebase/Roomix/.idea/workspace.xml
