<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:mem:test:INIT=RUNSCRIPT FROM 'classpath:create.sql'</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"/>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCachingRegionFactory</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">validate</property>

        <mapping class="at.fhv.roomix.persist.models.ContactEntity"/>
        <mapping class="at.fhv.roomix.persist.models.PersonEntity"/>
        <mapping class="at.fhv.roomix.persist.models.ArticleEntity"/>
        <mapping class="at.fhv.roomix.persist.models.CancellationEntity"/>
        <mapping class="at.fhv.roomix.persist.models.FacilityEntity"/>
        <mapping class="at.fhv.roomix.persist.models.InvoiceEntity"/>
        <mapping class="at.fhv.roomix.persist.models.PaymentEntity"/>
        <mapping class="at.fhv.roomix.persist.models.ReservationEntity"/>
        <mapping class="at.fhv.roomix.persist.models.SeasonEntity"/>
        <mapping class="at.fhv.roomix.persist.models.RoomEntity"/>
        <mapping class="at.fhv.roomix.persist.models.CancellationConditionEntity"/>
        <mapping class="at.fhv.roomix.persist.models.ContactNoteEntity"/>
        <mapping class="at.fhv.roomix.persist.models.ContractingPartyEntity"/>
        <mapping class="at.fhv.roomix.persist.models.CreditCardEntity"/>
        <mapping class="at.fhv.roomix.persist.models.InvoicePositionEntity"/>
        <mapping class="at.fhv.roomix.persist.models.PartnerAgreementEntity"/>
        <mapping class="at.fhv.roomix.persist.models.PaymentTypeEntity"/>
        <mapping class="at.fhv.roomix.persist.models.ReservationOptionEntity"/>
        <mapping class="at.fhv.roomix.persist.models.ReservationUnitEntity"/>
        <mapping class="at.fhv.roomix.persist.models.RoomAssignmentEntity"/>
        <mapping class="at.fhv.roomix.persist.models.RoomCategoryEntity"/>
        <mapping class="at.fhv.roomix.persist.models.RoomCategoryPriceEntity"/>
        <mapping class="at.fhv.roomix.persist.models.RoomFacilityEntity"/>
        <mapping class="at.fhv.roomix.persist.models.TourGroupEntity"/>
        <mapping class="at.fhv.roomix.persist.models.TourGroupMemberEntity"/>


    </session-factory>
</hibernate-configuration>