.sidebar-list .scroll-bar:horizontal .increment-arrow,
.sidebar-list .scroll-bar:horizontal .decrement-arrow,
.sidebar-list .scroll-bar:horizontal .increment-button,
.sidebar-list .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.sidebar-list {
    -fx-control-inner-background-alt: -fx-control-inner-background ;
    -fx-control-inner-background: linear-gradient(to right, #e7e7e7, #eeeeee, #f7f7f7);
    -fx-background-color: #d7d7d7;
}
.sidebar-itemLable {
    -fx-text-fill: black;
    -fx-font-size: 24;
    -fx-padding: 10;
}
.sidebar-itemIcon {
    -fx-text-fill: -icons-color;
    -icons-color: black;
    -fx-fill: black;
}
.sidebar-item {

}