<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.autocommit">true</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/Roomix</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">0000</property>


        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
      <!--  <property name="net.sf.ehcache.configurationResourceName">/cacheConfig.xml</property> -->


        <mapping class="at.fhv.roomix.persist.model.ContactEntity"/>
        <mapping class="at.fhv.roomix.persist.model.PersonEntity"/>
        <mapping class="at.fhv.roomix.persist.model.ArrangementEntity"/>
        <mapping class="at.fhv.roomix.persist.model.ArticleEntity"/>
        <mapping class="at.fhv.roomix.persist.model.CancellationEntity"/>
        <mapping class="at.fhv.roomix.persist.model.FacilityEntity"/>
        <mapping class="at.fhv.roomix.persist.model.InvoiceEntity"/>
        <mapping class="at.fhv.roomix.persist.model.PaymentEntity"/>
        <mapping class="at.fhv.roomix.persist.model.ReservationEntity"/>
        <mapping class="at.fhv.roomix.persist.model.SeasonEntity"/>
        <mapping class="at.fhv.roomix.persist.model.RoomEntity"/>
        <mapping class="at.fhv.roomix.persist.model.CancellationConditionEntity"/>
        <mapping class="at.fhv.roomix.persist.model.ContactNoteEntity"/>
        <mapping class="at.fhv.roomix.persist.model.ContractingPartyEntity"/>
        <mapping class="at.fhv.roomix.persist.model.CreditCardEntity"/>
        <mapping class="at.fhv.roomix.persist.model.InvoicePositionEntity"/>
        <mapping class="at.fhv.roomix.persist.model.PartnerAgreementEntity"/>
        <mapping class="at.fhv.roomix.persist.model.PaymentTypeEntity"/>
        <mapping class="at.fhv.roomix.persist.model.PersonReservationEntity"/>
        <mapping class="at.fhv.roomix.persist.model.PersonRoomAssignmentEntity"/>
        <mapping class="at.fhv.roomix.persist.model.ReservationOptionEntity"/>
        <mapping class="at.fhv.roomix.persist.model.ReservationUnitEntity"/>
        <mapping class="at.fhv.roomix.persist.model.RoomAssignmentEntity"/>
        <mapping class="at.fhv.roomix.persist.model.RoomCategoryEntity"/>
        <mapping class="at.fhv.roomix.persist.model.RoomCategoryPriceEntity"/>
        <mapping class="at.fhv.roomix.persist.model.RoomFacilityEntity"/>
        <mapping class="at.fhv.roomix.persist.model.TourGroupEntity"/>
        <mapping class="at.fhv.roomix.persist.model.TourGroupMemberEntity"/>


        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>