<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.autocommit">true</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/Roomix</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">0000</property>

        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <!--<property name="show_sql">true</property>-->

        <mapping class="at.fhv.roomix.persist.models.ContactEntity"/>
        <mapping class="at.fhv.roomix.persist.models.PersonEntity"/>
        <mapping class="at.fhv.roomix.persist.models.ArticleEntity"/>
        <mapping class="at.fhv.roomix.persist.models.CancellationEntity"/>
        <mapping class="at.fhv.roomix.persist.models.FacilityEntity"/>
        <mapping class="at.fhv.roomix.persist.models.InvoiceEntity"/>
        <mapping class="at.fhv.roomix.persist.models.PaymentEntity"/>
        <mapping class="at.fhv.roomix.persist.models.ReservationEntity"/>
        <mapping class="at.fhv.roomix.persist.models.SeasonEntity"/>
        <mapping class="at.fhv.roomix.persist.models.RoomEntity"/>
        <mapping class="at.fhv.roomix.persist.models.CancellationConditionEntity"/>
        <mapping class="at.fhv.roomix.persist.models.ContactNoteEntity"/>
        <mapping class="at.fhv.roomix.persist.models.ContractingPartyEntity"/>
        <mapping class="at.fhv.roomix.persist.models.CreditCardEntity"/>
        <mapping class="at.fhv.roomix.persist.models.InvoicePositionEntity"/>
        <mapping class="at.fhv.roomix.persist.models.PartnerAgreementEntity"/>
        <mapping class="at.fhv.roomix.persist.models.PaymentTypeEntity"/>
        <mapping class="at.fhv.roomix.persist.models.ReservationOptionEntity"/>
        <mapping class="at.fhv.roomix.persist.models.ReservationUnitEntity"/>
        <mapping class="at.fhv.roomix.persist.models.RoomAssignmentEntity"/>
        <mapping class="at.fhv.roomix.persist.models.RoomCategoryEntity"/>
        <mapping class="at.fhv.roomix.persist.models.RoomCategoryPriceEntity"/>
        <mapping class="at.fhv.roomix.persist.models.RoomFacilityEntity"/>
        <mapping class="at.fhv.roomix.persist.models.TourGroupEntity"/>
        <mapping class="at.fhv.roomix.persist.models.TourGroupMemberEntity"/>


        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>