@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';


	.button-big {
		background-image: url('images/ie/button-big.svg');
	}

	.button-big:hover {
		background-image: url('images/ie/button-big-hover.svg');
	}

	.button-big:active {
		background-image: url('images/ie/button-big-active.svg');
	}