<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>Configuration File - Roomix Version Alpha 0.5</comment>
    <entry key="server.database.port">1334</entry>
    <entry key="server.database.username">root</entry>
    <entry key="server.database.password">0000</entry>
    <entry key="server.database.adress">127.0.0.1</entry>
    <entry key="ui.default.printpath">C:\Users\Oliver\Desktop\PrintOut\</entry>
    <entry key="ui.language">DE</entry>
</properties>